This is an exercise to apply the concepts of data cleansing and preprocessing

# Import Library

In [1]:
from prettytable import PrettyTable as pt
import pandas as pd
import matplotlib.pyplot as plt
from sklearn.model_selection import train_test_split
from sklearn.neural_network import MLPClassifier
from sklearn.metrics import plot_confusion_matrix
from sklearn.metrics import accuracy_score
from sklearn.feature_selection import VarianceThreshold
from sklearn.linear_model import LogisticRegression
from sklearn import metrics
import warnings
import numpy as np
warnings.filterwarnings("ignore")

C:\Python39\lib\site-packages\scipy\__init__.py:146: UserWarning: A NumPy version >=1.16.5 and <1.23.0 is required for this version of SciPy (detected version 1.23.3
  warnings.warn(f"A NumPy version >={np_minversion} and <{np_maxversion}"

In [2]:
sensitivityList = []
precisionList = []
negativePredValuesList = []
specificityList = []
accuracyList = []

# Model MLP

### Model without any data cleansing

In [3]:
data1 = pd.read_csv('./dataset/oil-spill.csv')

In [4]:
X1 = data1.iloc[:,1:-1]
y1 = data1.iloc[:,-1]

X_train1, X_test1, y_train1, y_test1 = train_test_split(X1, y1, test_size=0.3, random_state=42)  
display(X1)
display(y1)

,2558,1506.09,456.63,90,6395000,40.88,7.89,29780,0.19,214.7,...,69,2850,1000,763.16,135.46,3.73,0.3,33243.19,65.74,7.95
0,22325,79.11,841.03,180,55812500.0,51.11,1.21,61900.0,0.02,901.7,...,69,5750.00,11500.00,9593.48,1648.80,0.60,0,51572.04,65.73,6.26
1,115,1449.85,608.43,88,287500.0,40.42,7.34,3340.0,0.18,86.1,...,69,1400.00,250.00,150.00,45.13,9.33,1,31692.84,65.81,7.84
2,1201,1562.53,295.65,66,3002500.0,42.40,7.97,18030.0,0.19,166.5,...,69,6041.52,761.58,453.21,144.97,13.33,1,37696.21,65.67,8.07
3,312,950.27,440.86,37,780000.0,41.43,7.03,3350.0,0.17,232.8,...,69,1320.04,710.63,512.54,109.16,2.58,0,29038.17,65.66,7.35
4,54,1438.13,544.91,82,135000.0,44.67,6.92,1570.0,0.15,86.0,...,69,608.28,200.00,150.00,52.22,4.06,0,30967.25,65.77,7.85
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
931,12,92.42,364.42,135,97200.0,59.42,10.34,884.0,0.17,110.0,...,50,381.84,254.56,84.85,146.97,4.50,0,2593.50,65.85,6.39
932,11,98.82,248.64,159,89100.0,59.64,10.18,831.0,0.17,107.2,...,50,284.60,180.00,150.00,51.96,1.90,0,4361.25,65.70,6.53
933,14,25.14,428.86,24,113400.0,60.14,17.94,847.0,0.30,133.9,...,50,402.49,180.00,180.00,0.00,2.24,0,2153.05,65.91,6.12
934,10,96.00,451.30,68,81000.0,59.90,15.01,831.0,0.25,97.5,...,50,402.49,180.00,90.00,73.48,4.47,0,2421.43,65.97,6.32
935,11,7.73,235.73,135,89100.0,61.82,12.24,831.0,0.20,107.2,...,50,254.56,254.56,127.28,180.00,2.00,0,3782.68,65.65,6.26

0      0
1      1
2      1
3      0
4      1
      ..
931    0
932    0
933    0
934    0
935    0
Name: 1.1, Length: 936, dtype: int64

In [5]:
clf1 = MLPClassifier(hidden_layer_sizes=(3,2),
                    random_state=5,
                    verbose=True,
                    learning_rate_init=0.01)
clf1.fit(X_train1,y_train1)

Iteration 1, loss = 1.54080077
Iteration 2, loss = 1.54080048
Iteration 3, loss = 1.54080022
Iteration 4, loss = 1.54080000
Iteration 5, loss = 1.54079983
Iteration 6, loss = 0.97656443
Iteration 7, loss = 0.84092440
Iteration 8, loss = 0.71861154
Iteration 9, loss = 1.08627012
Iteration 10, loss = 0.78013285
Iteration 11, loss = 0.75847936
Iteration 12, loss = 0.73573582
Iteration 13, loss = 0.71307137
Iteration 14, loss = 0.69074568
Iteration 15, loss = 0.66947088
Iteration 16, loss = 0.64906021
Iteration 17, loss = 1.03737547
Iteration 18, loss = 0.61253711
Iteration 19, loss = 0.59560789
Iteration 20, loss = 0.57930979
Iteration 21, loss = 0.56342967
Iteration 22, loss = 0.54813157
Iteration 23, loss = 0.53350770
Iteration 24, loss = 0.51975364
Iteration 25, loss = 0.50624877
Iteration 26, loss = 0.49367570
Iteration 27, loss = 0.48136459
Iteration 28, loss = 0.46979708
Iteration 29, loss = 0.45866127
Iteration 30, loss = 0.44808516
Iteration 31, loss = 0.43785149
Iteration 32, loss = 0.42829618
Iteration 33, loss = 0.41916457
Iteration 34, loss = 0.41023518
Iteration 35, loss = 0.40182676
Iteration 36, loss = 0.39367822
Iteration 37, loss = 0.38604613
Iteration 38, loss = 0.37861055
Iteration 39, loss = 0.37152243
Iteration 40, loss = 0.36473120
Iteration 41, loss = 0.35822916
Iteration 42, loss = 0.35205672
Iteration 43, loss = 0.34588886
Iteration 44, loss = 0.34016858
Iteration 45, loss = 0.33467582
Iteration 46, loss = 0.32927843
Iteration 47, loss = 0.32414019
Iteration 48, loss = 0.31939883
Iteration 49, loss = 0.31473211
Iteration 50, loss = 0.31019325
Iteration 51, loss = 0.30596890
Iteration 52, loss = 0.30179189
Iteration 53, loss = 0.29768915
Iteration 54, loss = 0.29380628
Iteration 55, loss = 0.29000860
Iteration 56, loss = 0.28634169
Iteration 57, loss = 0.28289709
Iteration 58, loss = 0.27949483
Iteration 59, loss = 0.27622643
Iteration 60, loss = 0.27313909
Iteration 61, loss = 0.27008508
Iteration 62, loss = 0.26717457
Iteration 63, loss = 0.26434419
Iteration 64, loss = 0.26151282
Iteration 65, loss = 0.25894520
Iteration 66, loss = 0.25639098
Iteration 67, loss = 0.25405902
Iteration 68, loss = 0.25168590
Iteration 69, loss = 0.24953926
Iteration 70, loss = 0.24739106
Iteration 71, loss = 0.24532237
Iteration 72, loss = 0.24327828
Iteration 73, loss = 0.24133218
Iteration 74, loss = 0.23937557
Iteration 75, loss = 0.23764008
Iteration 76, loss = 0.23575552
Iteration 77, loss = 0.23402287
Iteration 78, loss = 0.23231500
Iteration 79, loss = 0.23066736
Iteration 80, loss = 0.22902374
Iteration 81, loss = 0.22746064
Iteration 82, loss = 0.22597936
Iteration 83, loss = 0.22447542
Iteration 84, loss = 0.22309165
Iteration 85, loss = 0.22177177
Iteration 86, loss = 0.22040051
Iteration 87, loss = 0.21919152
Iteration 88, loss = 0.21799038
Iteration 89, loss = 0.21682109
Iteration 90, loss = 0.21567551
Iteration 91, loss = 0.21459338
Iteration 92, loss = 0.21356834
Iteration 93, loss = 0.21256321
Iteration 94, loss = 0.21158460
Iteration 95, loss = 0.21059338
Iteration 96, loss = 0.20964687
Iteration 97, loss = 0.20874695
Iteration 98, loss = 0.20786767
Iteration 99, loss = 0.20700073
Iteration 100, loss = 0.20616903
Iteration 101, loss = 0.20539864
Iteration 102, loss = 0.20468956
Iteration 103, loss = 0.20391715
Iteration 104, loss = 0.20323241
Iteration 105, loss = 0.20251629
Iteration 106, loss = 0.20184114
Iteration 107, loss = 0.20118766
Iteration 108, loss = 0.20052948
Iteration 109, loss = 0.19994311
Iteration 110, loss = 0.19927176
Iteration 111, loss = 0.24222436
Iteration 112, loss = 0.19808817
Iteration 113, loss = 0.19759125
Iteration 114, loss = 0.19701299
Iteration 115, loss = 0.19648459
Iteration 116, loss = 0.19596329
Iteration 117, loss = 0.19543125
Iteration 118, loss = 0.19496661
Iteration 119, loss = 0.19443423
Iteration 120, loss = 0.19396827
Iteration 121, loss = 0.19348240
Iteration 122, loss = 0.19304892
Iteration 123, loss = 0.19259331
Iteration 124, loss = 0.19219448
Iteration 125, loss = 0.19178843
Iteration 126, loss = 0.19133576
Iteration 127, loss = 0.19092876
Iteration 128, loss = 0.19051108
Iteration 129, loss = 0.19018062
Iteration 130, loss = 0.18981245
Iteration 131, loss = 0.18944768
Iteration 132, loss = 0.18915805
Iteration 133, loss = 0.18881997
Iteration 134, loss = 0.18850099
Iteration 135, loss = 0.18819781
Iteration 136, loss = 0.18790398
Iteration 137, loss = 0.18757964
Iteration 138, loss = 0.18732204
Iteration 139, loss = 0.18700433
Iteration 140, loss = 0.18672474
Iteration 141, loss = 0.18645603
Iteration 142, loss = 0.18617586
Iteration 143, loss = 0.18595766
Iteration 144, loss = 0.18567520
Iteration 145, loss = 0.18544419
Iteration 146, loss = 0.18520527
Iteration 147, loss = 0.18496565
Iteration 148, loss = 0.18471732
Iteration 149, loss = 0.18449688
Iteration 150, loss = 0.18428241
Iteration 151, loss = 0.18406887
Iteration 152, loss = 0.18389874
Iteration 153, loss = 0.18370679
Iteration 154, loss = 0.18351347
Iteration 155, loss = 0.18334702
Iteration 156, loss = 0.18318871
Iteration 157, loss = 0.18299597
Iteration 158, loss = 0.18282459
Iteration 159, loss = 0.18269006
Iteration 160, loss = 0.18253451
Iteration 161, loss = 0.18235543
Iteration 162, loss = 0.18219246
Iteration 163, loss = 0.18204611
Iteration 164, loss = 0.18188016
Iteration 165, loss = 0.18173678
Iteration 166, loss = 0.18158710
Iteration 167, loss = 0.18147952
Iteration 168, loss = 0.18135210
Iteration 169, loss = 0.18123981
Iteration 170, loss = 0.18112391
Iteration 171, loss = 0.18102316
Iteration 172, loss = 0.18089868
Iteration 173, loss = 0.18080375
Iteration 174, loss = 0.18068869
Iteration 175, loss = 0.18058620
Iteration 176, loss = 0.18049557
Iteration 177, loss = 0.18034474
Iteration 178, loss = 0.18026562
Iteration 179, loss = 0.18016239
Iteration 180, loss = 0.18007647
Iteration 181, loss = 0.17996991
Iteration 182, loss = 0.17988576
Iteration 183, loss = 0.17982777
Iteration 184, loss = 0.17975196
Iteration 185, loss = 0.17966730
Iteration 186, loss = 0.17960628
Iteration 187, loss = 0.17951519
Iteration 188, loss = 0.17946167
Iteration 189, loss = 0.17938223
Iteration 190, loss = 0.17931145
Iteration 191, loss = 0.17923734
Iteration 192, loss = 0.17917114
Training loss did not improve more than tol=0.000100 for 10 consecutive epochs. Stopping.

MLPClassifier(hidden_layer_sizes=(3, 2), learning_rate_init=0.01,
              random_state=5, verbose=True)

In [6]:
y_pred1 = clf1.predict(X_test1)

In [7]:
# Creating the confusion matrix
cm1 = metrics.confusion_matrix(y_test1, y_pred1)
# Assigning columns names
cm_df1 = pd.DataFrame(cm1, 
            columns = ['Predicted Negative', 'Predicted Positive'],
            index = ['Actual Negative', 'Actual Positive'])
# Showing the confusion matrix
cm_df1

                 Predicted Negative  Predicted Positive
Actual Negative                 269                   0
Actual Positive                  12                   0

In [8]:
def metric (conf_matrix):
    TP = conf_matrix[1][1]
    TN = conf_matrix[0][0]
    FP = conf_matrix[0][1]
    FN = conf_matrix[1][0]
    sensitivity = ((TP / (TP+FN)))
    precision = ((TP/(TP+FP)))
    negativePredValues = (TN/(TN+FN))
    specificity = (TN / (TN+FP))
    accuracy = ((TP+TN)/(TP+TN+FP+FN))
    print('True Positives:', TP)
    print('True Negatives:', TN)
    print('False Positives:', FP)
    print('False Negatives:', FN)
    return sensitivity,precision,negativePredValues,specificity,accuracy

In [9]:
sensitivity1,precision1,negativePredValues1,specificity1,accuracy1 = metric(cm1)
sensitivityList.append(sensitivity1)
precisionList.append(precision1)
negativePredValuesList.append(negativePredValues1)
specificityList.append(specificity1)
accuracyList.append(accuracy1)
print(f'Sensitivity: {sensitivity1}')
print(f'Precision = {precision1}')
print(f'Negative Pred Value = {negativePredValues1}')
print(f'Specificity = {specificity1}')
print(f'Accuracy = {accuracy1}')

True Positives: 0
True Negatives: 269
False Positives: 0
False Negatives: 12
Sensitivity: 0.0
Precision = nan
Negative Pred Value = 0.9572953736654805
Specificity = 1.0
Accuracy = 0.9572953736654805

## Model with single value data filter

In [10]:
data2 = pd.read_csv('./dataset/oil-spill.csv',header=None)
display(data2)

,0,1,2,3,4,5,6,7,8,9,...,40,41,42,43,44,45,46,47,48,49
0,1,2558,1506.09,456.63,90,6395000.0,40.88,7.89,29780.0,0.19,...,2850.00,1000.00,763.16,135.46,3.73,0,33243.19,65.74,7.95,1
1,2,22325,79.11,841.03,180,55812500.0,51.11,1.21,61900.0,0.02,...,5750.00,11500.00,9593.48,1648.80,0.60,0,51572.04,65.73,6.26,0
2,3,115,1449.85,608.43,88,287500.0,40.42,7.34,3340.0,0.18,...,1400.00,250.00,150.00,45.13,9.33,1,31692.84,65.81,7.84,1
3,4,1201,1562.53,295.65,66,3002500.0,42.40,7.97,18030.0,0.19,...,6041.52,761.58,453.21,144.97,13.33,1,37696.21,65.67,8.07,1
4,5,312,950.27,440.86,37,780000.0,41.43,7.03,3350.0,0.17,...,1320.04,710.63,512.54,109.16,2.58,0,29038.17,65.66,7.35,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
932,200,12,92.42,364.42,135,97200.0,59.42,10.34,884.0,0.17,...,381.84,254.56,84.85,146.97,4.50,0,2593.50,65.85,6.39,0
933,201,11,98.82,248.64,159,89100.0,59.64,10.18,831.0,0.17,...,284.60,180.00,150.00,51.96,1.90,0,4361.25,65.70,6.53,0
934,202,14,25.14,428.86,24,113400.0,60.14,17.94,847.0,0.30,...,402.49,180.00,180.00,0.00,2.24,0,2153.05,65.91,6.12,0
935,203,10,96.00,451.30,68,81000.0,59.90,15.01,831.0,0.25,...,402.49,180.00,90.00,73.48,4.47,0,2421.43,65.97,6.32,0
936,204,11,7.73,235.73,135,89100.0,61.82,12.24,831.0,0.20,...,254.56,254.56,127.28,180.00,2.00,0,3782.68,65.65,6.26,0

### Searching and delete Single Value

In [11]:
counts = data2.nunique()
toDel2 = [i for i,v in enumerate(counts) if v == 1]
print(f'Kolom yang akan didelete adalah: {toDel2}')

Kolom yang akan didelete adalah: [22]

In [12]:
data2[22].value_counts()

0    937
Name: 22, dtype: int64

In [13]:
data2.drop(toDel2, axis=1, inplace=True)
print(f'Shape Akhir = {data2.shape}')

Shape Akhir = (937, 49)

In [14]:
X2 = data2.iloc[:,1:-1]
y2 = data2.iloc[:,-1]

X_train2, X_test2, y_train2, y_test2 = train_test_split(X2, y2, test_size=0.3, random_state=42)

In [15]:
display(X2)
display(y2)

,1,2,3,4,5,6,7,8,9,10,...,39,40,41,42,43,44,45,46,47,48
0,2558,1506.09,456.63,90,6395000.0,40.88,7.89,29780.0,0.19,214.7,...,69,2850.00,1000.00,763.16,135.46,3.73,0,33243.19,65.74,7.95
1,22325,79.11,841.03,180,55812500.0,51.11,1.21,61900.0,0.02,901.7,...,69,5750.00,11500.00,9593.48,1648.80,0.60,0,51572.04,65.73,6.26
2,115,1449.85,608.43,88,287500.0,40.42,7.34,3340.0,0.18,86.1,...,69,1400.00,250.00,150.00,45.13,9.33,1,31692.84,65.81,7.84
3,1201,1562.53,295.65,66,3002500.0,42.40,7.97,18030.0,0.19,166.5,...,69,6041.52,761.58,453.21,144.97,13.33,1,37696.21,65.67,8.07
4,312,950.27,440.86,37,780000.0,41.43,7.03,3350.0,0.17,232.8,...,69,1320.04,710.63,512.54,109.16,2.58,0,29038.17,65.66,7.35
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
932,12,92.42,364.42,135,97200.0,59.42,10.34,884.0,0.17,110.0,...,50,381.84,254.56,84.85,146.97,4.50,0,2593.50,65.85,6.39
933,11,98.82,248.64,159,89100.0,59.64,10.18,831.0,0.17,107.2,...,50,284.60,180.00,150.00,51.96,1.90,0,4361.25,65.70,6.53
934,14,25.14,428.86,24,113400.0,60.14,17.94,847.0,0.30,133.9,...,50,402.49,180.00,180.00,0.00,2.24,0,2153.05,65.91,6.12
935,10,96.00,451.30,68,81000.0,59.90,15.01,831.0,0.25,97.5,...,50,402.49,180.00,90.00,73.48,4.47,0,2421.43,65.97,6.32
936,11,7.73,235.73,135,89100.0,61.82,12.24,831.0,0.20,107.2,...,50,254.56,254.56,127.28,180.00,2.00,0,3782.68,65.65,6.26

0      1
1      0
2      1
3      1
4      0
      ..
932    0
933    0
934    0
935    0
936    0
Name: 49, Length: 937, dtype: int64

In [16]:
clf2 = MLPClassifier(hidden_layer_sizes=(3,2),
                    random_state=5,
                    verbose=True,
                    learning_rate_init=0.01)
clf2.fit(X_train2,y_train2)

Iteration 1, loss = 34.39280185
Iteration 2, loss = 30.85146030
Iteration 3, loss = 1.65085731
Iteration 4, loss = 1.65085736
Iteration 5, loss = 1.65085737
Iteration 6, loss = 1.65085734
Iteration 7, loss = 1.65085729
Iteration 8, loss = 1.65085723
Iteration 9, loss = 1.65085718
Iteration 10, loss = 1.65085712
Iteration 11, loss = 1.65085707
Iteration 12, loss = 1.65085702
Iteration 13, loss = 1.65085698
Iteration 14, loss = 1.65085694
Training loss did not improve more than tol=0.000100 for 10 consecutive epochs. Stopping.

MLPClassifier(hidden_layer_sizes=(3, 2), learning_rate_init=0.01,
              random_state=5, verbose=True)

In [17]:
y_pred2 = clf2.predict(X_test2)

In [18]:
# Creating the confusion matrix
cm2 = metrics.confusion_matrix(y_test2, y_pred2)
# Assigning columns names
cm_df2 = pd.DataFrame(cm2, 
            columns = ['Predicted Negative', 'Predicted Positive'],
            index = ['Actual Negative', 'Actual Positive'])
# Showing the confusion matrix
cm_df2

                 Predicted Negative  Predicted Positive
Actual Negative                 271                   0
Actual Positive                  11                   0

In [20]:
sensitivity2,precision2,negativePredValues2,specificity2,accuracy2 = metric(cm2)
sensitivityList.append(sensitivity2)
precisionList.append(precision2)
negativePredValuesList.append(negativePredValues2)
specificityList.append(specificity2)
accuracyList.append(accuracy2)
print(f'Sensitivity: {sensitivity2}')
print(f'Precision = {precision2}')
print(f'Negative Pred Value = {negativePredValues2}')
print(f'Specificity = {specificity2}')
print(f'Accuracy = {accuracy2}')

True Positives: 0
True Negatives: 271
False Positives: 0
False Negatives: 11
Sensitivity: 0.0
Precision = nan
Negative Pred Value = 0.9609929078014184
Specificity = 1.0
Accuracy = 0.9609929078014184

## Model with few values filter

In [22]:
data3 = pd.read_csv('./dataset/oil-spill.csv',header=None)
display(data3)

,0,1,2,3,4,5,6,7,8,9,...,40,41,42,43,44,45,46,47,48,49
0,1,2558,1506.09,456.63,90,6395000.0,40.88,7.89,29780.0,0.19,...,2850.00,1000.00,763.16,135.46,3.73,0,33243.19,65.74,7.95,1
1,2,22325,79.11,841.03,180,55812500.0,51.11,1.21,61900.0,0.02,...,5750.00,11500.00,9593.48,1648.80,0.60,0,51572.04,65.73,6.26,0
2,3,115,1449.85,608.43,88,287500.0,40.42,7.34,3340.0,0.18,...,1400.00,250.00,150.00,45.13,9.33,1,31692.84,65.81,7.84,1
3,4,1201,1562.53,295.65,66,3002500.0,42.40,7.97,18030.0,0.19,...,6041.52,761.58,453.21,144.97,13.33,1,37696.21,65.67,8.07,1
4,5,312,950.27,440.86,37,780000.0,41.43,7.03,3350.0,0.17,...,1320.04,710.63,512.54,109.16,2.58,0,29038.17,65.66,7.35,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
932,200,12,92.42,364.42,135,97200.0,59.42,10.34,884.0,0.17,...,381.84,254.56,84.85,146.97,4.50,0,2593.50,65.85,6.39,0
933,201,11,98.82,248.64,159,89100.0,59.64,10.18,831.0,0.17,...,284.60,180.00,150.00,51.96,1.90,0,4361.25,65.70,6.53,0
934,202,14,25.14,428.86,24,113400.0,60.14,17.94,847.0,0.30,...,402.49,180.00,180.00,0.00,2.24,0,2153.05,65.91,6.12,0
935,203,10,96.00,451.30,68,81000.0,59.90,15.01,831.0,0.25,...,402.49,180.00,90.00,73.48,4.47,0,2421.43,65.97,6.32,0
936,204,11,7.73,235.73,135,89100.0,61.82,12.24,831.0,0.20,...,254.56,254.56,127.28,180.00,2.00,0,3782.68,65.65,6.26,0

### Searching and delete  few values

In [23]:
print(f'Shape Awal = {data3.shape}')
# get number of unique values for each column
counts3 = data3.nunique()
# record columns to delete
to_del3 = [i for i,v in enumerate(counts3) if (float(v)/data3.shape[0]*100) < 1]

Shape Awal = (937, 50)

In [24]:
if data3.shape[1]-1 in to_del3:
    to_del3.remove(data3.shape[1]-1)
print(f'Kolom yang akan di delete = {to_del3}')

Kolom yang akan di delete = [21, 22, 24, 25, 26, 32, 36, 38, 39, 45]

In [25]:
data3.drop(to_del3, axis=1, inplace=True)
print(f'Shape Akhir = {data3.shape}')

Shape Akhir = (937, 40)

In [26]:
X3 = data3.iloc[:,1:-1]
y3 = data3.iloc[:,-1]

X_train3, X_test3, y_train3, y_test3 = train_test_split(X3, y3, test_size=0.3, random_state=42)

In [27]:
display(X3)
display(y3)

,1,2,3,4,5,6,7,8,9,10,...,35,37,40,41,42,43,44,46,47,48
0,2558,1506.09,456.63,90,6395000.0,40.88,7.89,29780.0,0.19,214.7,...,16110,138.68,2850.00,1000.00,763.16,135.46,3.73,33243.19,65.74,7.95
1,22325,79.11,841.03,180,55812500.0,51.11,1.21,61900.0,0.02,901.7,...,40140,68.65,5750.00,11500.00,9593.48,1648.80,0.60,51572.04,65.73,6.26
2,115,1449.85,608.43,88,287500.0,40.42,7.34,3340.0,0.18,86.1,...,1530,38.80,1400.00,250.00,150.00,45.13,9.33,31692.84,65.81,7.84
3,1201,1562.53,295.65,66,3002500.0,42.40,7.97,18030.0,0.19,166.5,...,10080,108.27,6041.52,761.58,453.21,144.97,13.33,37696.21,65.67,8.07
4,312,950.27,440.86,37,780000.0,41.43,7.03,3350.0,0.17,232.8,...,2340,14.39,1320.04,710.63,512.54,109.16,2.58,29038.17,65.66,7.35
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
932,12,92.42,364.42,135,97200.0,59.42,10.34,884.0,0.17,110.0,...,540,8.04,381.84,254.56,84.85,146.97,4.50,2593.50,65.85,6.39
933,11,98.82,248.64,159,89100.0,59.64,10.18,831.0,0.17,107.2,...,630,7.75,284.60,180.00,150.00,51.96,1.90,4361.25,65.70,6.53
934,14,25.14,428.86,24,113400.0,60.14,17.94,847.0,0.30,133.9,...,450,6.33,402.49,180.00,180.00,0.00,2.24,2153.05,65.91,6.12
935,10,96.00,451.30,68,81000.0,59.90,15.01,831.0,0.25,97.5,...,540,8.53,402.49,180.00,90.00,73.48,4.47,2421.43,65.97,6.32
936,11,7.73,235.73,135,89100.0,61.82,12.24,831.0,0.20,107.2,...,540,7.75,254.56,254.56,127.28,180.00,2.00,3782.68,65.65,6.26

0      1
1      0
2      1
3      1
4      0
      ..
932    0
933    0
934    0
935    0
936    0
Name: 49, Length: 937, dtype: int64

In [28]:
clf3 = MLPClassifier(hidden_layer_sizes=(3,2),
                    random_state=5,
                    verbose=True,
                    learning_rate_init=0.01)
clf3.fit(X_train3,y_train3)

Iteration 1, loss = 1.65085752
Iteration 2, loss = 1.65085732
Iteration 3, loss = 1.65085720
Iteration 4, loss = 1.65085713
Iteration 5, loss = 1.65085710
Iteration 6, loss = 1.65085712
Iteration 7, loss = 1.60186635
Iteration 8, loss = 1.30466830
Iteration 9, loss = 1.12609163
Iteration 10, loss = 0.42349667
Iteration 11, loss = 0.31457666
Iteration 12, loss = 0.29997942
Iteration 13, loss = 0.28552812
Iteration 14, loss = 0.27155432
Iteration 15, loss = 0.25946204
Iteration 16, loss = 0.24851052
Iteration 17, loss = 0.98595942
Iteration 18, loss = 0.23241693
Iteration 19, loss = 0.22646394
Iteration 20, loss = 0.22121227
Iteration 21, loss = 0.21633818
Iteration 22, loss = 0.21242775
Iteration 23, loss = 0.20886308
Iteration 24, loss = 0.20577252
Iteration 25, loss = 0.20343894
Iteration 26, loss = 0.20113978
Iteration 27, loss = 0.19940376
Iteration 28, loss = 0.19774609
Iteration 29, loss = 0.19653058
Iteration 30, loss = 0.19538823
Iteration 31, loss = 0.19447451
Iteration 32, loss = 0.19352882
Iteration 33, loss = 0.19275088
Iteration 34, loss = 0.19193414
Iteration 35, loss = 0.19134804
Iteration 36, loss = 0.19071685
Iteration 37, loss = 0.19020713
Iteration 38, loss = 0.18977390
Iteration 39, loss = 0.18933681
Iteration 40, loss = 0.18900041
Iteration 41, loss = 0.18872697
Iteration 42, loss = 0.18836621
Iteration 43, loss = 0.18812550
Iteration 44, loss = 0.18792193
Iteration 45, loss = 0.18768302
Iteration 46, loss = 0.18749415
Iteration 47, loss = 0.18736709
Iteration 48, loss = 0.18715821
Iteration 49, loss = 0.18699267
Iteration 50, loss = 0.18682946
Iteration 51, loss = 0.18674701
Iteration 52, loss = 0.18664540
Iteration 53, loss = 0.18659391
Iteration 54, loss = 0.18656008
Iteration 55, loss = 0.18652094
Iteration 56, loss = 0.18649009
Iteration 57, loss = 0.18643218
Iteration 58, loss = 0.18642981
Iteration 59, loss = 0.18635513
Iteration 60, loss = 0.18629459
Iteration 61, loss = 0.18628258
Iteration 62, loss = 0.18622996
Iteration 63, loss = 0.18618109
Training loss did not improve more than tol=0.000100 for 10 consecutive epochs. Stopping.

MLPClassifier(hidden_layer_sizes=(3, 2), learning_rate_init=0.01,
              random_state=5, verbose=True)

In [29]:
y_pred3 = clf3.predict(X_test3)

In [30]:
# Creating the confusion matrix
cm3 = metrics.confusion_matrix(y_test3, y_pred3)
# Assigning columns names
cm_df3 = pd.DataFrame(cm3, 
            columns = ['Predicted Negative', 'Predicted Positive'],
            index = ['Actual Negative', 'Actual Positive'])
# Showing the confusion matrix
cm_df3

                 Predicted Negative  Predicted Positive
Actual Negative                 271                   0
Actual Positive                  11                   0

In [31]:
sensitivity3,precision3,negativePredValues3,specificity3,accuracy3 = metric(cm3)
sensitivityList.append(sensitivity3)
precisionList.append(precision3)
negativePredValuesList.append(negativePredValues3)
specificityList.append(specificity3)
accuracyList.append(accuracy3)
print(f'Sensitivity: {sensitivity3}')
print(f'Precision = {precision3}')
print(f'Negative Pred Value = {negativePredValues3}')
print(f'Specificity = {specificity3}')
print(f'Accuracy = {accuracy3}')

True Positives: 0
True Negatives: 271
False Positives: 0
False Negatives: 11
Sensitivity: 0.0
Precision = nan
Negative Pred Value = 0.9609929078014184
Specificity = 1.0
Accuracy = 0.9609929078014184

## Model with low variance filter

In [33]:
data4 = pd.read_csv('./dataset/oil-spill.csv',header=None)
display(data4)

,0,1,2,3,4,5,6,7,8,9,...,40,41,42,43,44,45,46,47,48,49
0,1,2558,1506.09,456.63,90,6395000.0,40.88,7.89,29780.0,0.19,...,2850.00,1000.00,763.16,135.46,3.73,0,33243.19,65.74,7.95,1
1,2,22325,79.11,841.03,180,55812500.0,51.11,1.21,61900.0,0.02,...,5750.00,11500.00,9593.48,1648.80,0.60,0,51572.04,65.73,6.26,0
2,3,115,1449.85,608.43,88,287500.0,40.42,7.34,3340.0,0.18,...,1400.00,250.00,150.00,45.13,9.33,1,31692.84,65.81,7.84,1
3,4,1201,1562.53,295.65,66,3002500.0,42.40,7.97,18030.0,0.19,...,6041.52,761.58,453.21,144.97,13.33,1,37696.21,65.67,8.07,1
4,5,312,950.27,440.86,37,780000.0,41.43,7.03,3350.0,0.17,...,1320.04,710.63,512.54,109.16,2.58,0,29038.17,65.66,7.35,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
932,200,12,92.42,364.42,135,97200.0,59.42,10.34,884.0,0.17,...,381.84,254.56,84.85,146.97,4.50,0,2593.50,65.85,6.39,0
933,201,11,98.82,248.64,159,89100.0,59.64,10.18,831.0,0.17,...,284.60,180.00,150.00,51.96,1.90,0,4361.25,65.70,6.53,0
934,202,14,25.14,428.86,24,113400.0,60.14,17.94,847.0,0.30,...,402.49,180.00,180.00,0.00,2.24,0,2153.05,65.91,6.12,0
935,203,10,96.00,451.30,68,81000.0,59.90,15.01,831.0,0.25,...,402.49,180.00,90.00,73.48,4.47,0,2421.43,65.97,6.32,0
936,204,11,7.73,235.73,135,89100.0,61.82,12.24,831.0,0.20,...,254.56,254.56,127.28,180.00,2.00,0,3782.68,65.65,6.26,0

### Searching and delete data with low variance

In [34]:
X4 = data4.iloc[:,1:-1]
y4 = data4.iloc[:,-1]
print(X4.shape, y4.shape)
# define thresholds to check
thresholds = np.arange(0.0, 0.55, 0.05)
print(thresholds)
# apply transform with each threshold
results = []
for t in thresholds:
	# define the transform
	transform = VarianceThreshold(threshold=t)
	# transform the input data
	X_sel = transform.fit_transform(X4)
	# determine the number of input features
	n_features = X_sel.shape[1]
	print('>Threshold=%.2f, Features=%d' % (t, n_features))
	# store the result
	results.append(n_features)
results = list(set(results))
print(results)
if data4.shape[1]-1 in results:
    results.remove(data4.shape[1]-1)
data4.drop(results, axis=1, inplace=True)

(937, 48) (937,)
[0.   0.05 0.1  0.15 0.2  0.25 0.3  0.35 0.4  0.45 0.5 ]
>Threshold=0.00, Features=47
>Threshold=0.05, Features=36
>Threshold=0.10, Features=35
>Threshold=0.15, Features=34
>Threshold=0.20, Features=34
>Threshold=0.25, Features=34
>Threshold=0.30, Features=34
>Threshold=0.35, Features=34
>Threshold=0.40, Features=34
>Threshold=0.45, Features=32
>Threshold=0.50, Features=30
[32, 34, 35, 36, 47, 30]

In [35]:
display(data4)

,0,1,2,3,4,5,6,7,8,9,...,39,40,41,42,43,44,45,46,48,49
0,1,2558,1506.09,456.63,90,6395000.0,40.88,7.89,29780.0,0.19,...,69,2850.00,1000.00,763.16,135.46,3.73,0,33243.19,7.95,1
1,2,22325,79.11,841.03,180,55812500.0,51.11,1.21,61900.0,0.02,...,69,5750.00,11500.00,9593.48,1648.80,0.60,0,51572.04,6.26,0
2,3,115,1449.85,608.43,88,287500.0,40.42,7.34,3340.0,0.18,...,69,1400.00,250.00,150.00,45.13,9.33,1,31692.84,7.84,1
3,4,1201,1562.53,295.65,66,3002500.0,42.40,7.97,18030.0,0.19,...,69,6041.52,761.58,453.21,144.97,13.33,1,37696.21,8.07,1
4,5,312,950.27,440.86,37,780000.0,41.43,7.03,3350.0,0.17,...,69,1320.04,710.63,512.54,109.16,2.58,0,29038.17,7.35,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
932,200,12,92.42,364.42,135,97200.0,59.42,10.34,884.0,0.17,...,50,381.84,254.56,84.85,146.97,4.50,0,2593.50,6.39,0
933,201,11,98.82,248.64,159,89100.0,59.64,10.18,831.0,0.17,...,50,284.60,180.00,150.00,51.96,1.90,0,4361.25,6.53,0
934,202,14,25.14,428.86,24,113400.0,60.14,17.94,847.0,0.30,...,50,402.49,180.00,180.00,0.00,2.24,0,2153.05,6.12,0
935,203,10,96.00,451.30,68,81000.0,59.90,15.01,831.0,0.25,...,50,402.49,180.00,90.00,73.48,4.47,0,2421.43,6.32,0
936,204,11,7.73,235.73,135,89100.0,61.82,12.24,831.0,0.20,...,50,254.56,254.56,127.28,180.00,2.00,0,3782.68,6.26,0

In [36]:
X_train4, X_test4, y_train4, y_test4 = train_test_split(X4, y4, test_size=0.3, random_state=42)

In [37]:
display(X4)
display(y4)

,1,2,3,4,5,6,7,8,9,10,...,39,40,41,42,43,44,45,46,47,48
0,2558,1506.09,456.63,90,6395000.0,40.88,7.89,29780.0,0.19,214.7,...,69,2850.00,1000.00,763.16,135.46,3.73,0,33243.19,65.74,7.95
1,22325,79.11,841.03,180,55812500.0,51.11,1.21,61900.0,0.02,901.7,...,69,5750.00,11500.00,9593.48,1648.80,0.60,0,51572.04,65.73,6.26
2,115,1449.85,608.43,88,287500.0,40.42,7.34,3340.0,0.18,86.1,...,69,1400.00,250.00,150.00,45.13,9.33,1,31692.84,65.81,7.84
3,1201,1562.53,295.65,66,3002500.0,42.40,7.97,18030.0,0.19,166.5,...,69,6041.52,761.58,453.21,144.97,13.33,1,37696.21,65.67,8.07
4,312,950.27,440.86,37,780000.0,41.43,7.03,3350.0,0.17,232.8,...,69,1320.04,710.63,512.54,109.16,2.58,0,29038.17,65.66,7.35
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
932,12,92.42,364.42,135,97200.0,59.42,10.34,884.0,0.17,110.0,...,50,381.84,254.56,84.85,146.97,4.50,0,2593.50,65.85,6.39
933,11,98.82,248.64,159,89100.0,59.64,10.18,831.0,0.17,107.2,...,50,284.60,180.00,150.00,51.96,1.90,0,4361.25,65.70,6.53
934,14,25.14,428.86,24,113400.0,60.14,17.94,847.0,0.30,133.9,...,50,402.49,180.00,180.00,0.00,2.24,0,2153.05,65.91,6.12
935,10,96.00,451.30,68,81000.0,59.90,15.01,831.0,0.25,97.5,...,50,402.49,180.00,90.00,73.48,4.47,0,2421.43,65.97,6.32
936,11,7.73,235.73,135,89100.0,61.82,12.24,831.0,0.20,107.2,...,50,254.56,254.56,127.28,180.00,2.00,0,3782.68,65.65,6.26

0      1
1      0
2      1
3      1
4      0
      ..
932    0
933    0
934    0
935    0
936    0
Name: 49, Length: 937, dtype: int64

In [38]:
clf4 = MLPClassifier(hidden_layer_sizes=(3,2),
                    random_state=5,
                    verbose=True,
                    learning_rate_init=0.01)
clf4.fit(X_train4,y_train4)

Iteration 1, loss = 1.65085773
Iteration 2, loss = 1.65085744
Iteration 3, loss = 1.65085719
Iteration 4, loss = 1.65085698
Iteration 5, loss = 1.65085681
Iteration 6, loss = 1.65085669
Iteration 7, loss = 0.86697357
Iteration 8, loss = 0.99590256
Iteration 9, loss = 0.83534846
Iteration 10, loss = 0.81142514
Iteration 11, loss = 0.78619496
Iteration 12, loss = 0.76093726
Iteration 13, loss = 0.73651801
Iteration 14, loss = 0.71305993
Iteration 15, loss = 0.69071840
Iteration 16, loss = 0.66924031
Iteration 17, loss = 0.72025822
Iteration 18, loss = 0.63134014
Iteration 19, loss = 0.61406549
Iteration 20, loss = 0.59715168
Iteration 21, loss = 0.58079146
Iteration 22, loss = 0.56518377
Iteration 23, loss = 0.55006947
Iteration 24, loss = 0.53563571
Iteration 25, loss = 0.52194142
Iteration 26, loss = 0.50891511
Iteration 27, loss = 0.49651971
Iteration 28, loss = 0.48467442
Iteration 29, loss = 0.47339596
Iteration 30, loss = 0.46253329
Iteration 31, loss = 0.45208511
Iteration 32, loss = 0.44216188
Iteration 33, loss = 0.43272812
Iteration 34, loss = 0.42344956
Iteration 35, loss = 0.41484394
Iteration 36, loss = 0.40643360
Iteration 37, loss = 0.39835529
Iteration 38, loss = 0.39073867
Iteration 39, loss = 0.38352360
Iteration 40, loss = 0.37644407
Iteration 41, loss = 0.36983900
Iteration 42, loss = 0.36333993
Iteration 43, loss = 0.35715897
Iteration 44, loss = 0.35120570
Iteration 45, loss = 0.34546974
Iteration 46, loss = 0.33997660
Iteration 47, loss = 0.33466266
Iteration 48, loss = 0.32957474
Iteration 49, loss = 0.32459617
Iteration 50, loss = 0.31996272
Iteration 51, loss = 0.31559817
Iteration 52, loss = 0.31135103
Iteration 53, loss = 0.30734521
Iteration 54, loss = 0.30332110
Iteration 55, loss = 0.29963219
Iteration 56, loss = 0.29593949
Iteration 57, loss = 0.29247802
Iteration 58, loss = 0.28905213
Iteration 59, loss = 0.28578994
Iteration 60, loss = 0.28271512
Iteration 61, loss = 0.27967279
Iteration 62, loss = 0.27675190
Iteration 63, loss = 0.27386708
Iteration 64, loss = 0.27109495
Iteration 65, loss = 0.26846277
Iteration 66, loss = 0.26585136
Iteration 67, loss = 0.26329558
Iteration 68, loss = 0.26085495
Iteration 69, loss = 0.25853214
Iteration 70, loss = 0.25619645
Iteration 71, loss = 0.25407203
Iteration 72, loss = 0.25195191
Iteration 73, loss = 0.24994772
Iteration 74, loss = 0.24798603
Iteration 75, loss = 0.24608581
Iteration 76, loss = 0.24438176
Iteration 77, loss = 0.24263180
Iteration 78, loss = 0.24100170
Iteration 79, loss = 0.23939354
Iteration 80, loss = 0.23782767
Iteration 81, loss = 0.23627446
Iteration 82, loss = 0.23477384
Iteration 83, loss = 0.23331621
Iteration 84, loss = 0.23195559
Iteration 85, loss = 0.23057823
Iteration 86, loss = 0.22930748
Iteration 87, loss = 0.22809984
Iteration 88, loss = 0.22689516
Iteration 89, loss = 0.22577605
Iteration 90, loss = 0.22463884
Iteration 91, loss = 0.22353662
Iteration 92, loss = 0.22240974
Iteration 93, loss = 0.22133467
Iteration 94, loss = 0.22031807
Iteration 95, loss = 0.21933730
Iteration 96, loss = 0.21838487
Iteration 97, loss = 0.21743896
Iteration 98, loss = 0.21652427
Iteration 99, loss = 0.21563335
Iteration 100, loss = 0.21477909
Iteration 101, loss = 0.21393644
Iteration 102, loss = 0.21314303
Iteration 103, loss = 0.21234443
Iteration 104, loss = 0.21154857
Iteration 105, loss = 0.21083824
Iteration 106, loss = 0.21010717
Iteration 107, loss = 0.20935932
Iteration 108, loss = 0.20868767
Iteration 109, loss = 0.20803770
Iteration 110, loss = 0.20740471
Iteration 111, loss = 0.20681522
Iteration 112, loss = 0.50825385
Iteration 113, loss = 0.20578379
Iteration 114, loss = 0.20528469
Iteration 115, loss = 0.20478846
Iteration 116, loss = 0.20426169
Iteration 117, loss = 0.20379440
Iteration 118, loss = 0.20330632
Iteration 119, loss = 0.20284685
Iteration 120, loss = 0.20239118
Iteration 121, loss = 0.20197316
Iteration 122, loss = 0.20157585
Iteration 123, loss = 0.20117170
Iteration 124, loss = 0.20078773
Iteration 125, loss = 0.20039545
Iteration 126, loss = 0.20005223
Iteration 127, loss = 0.19968365
Iteration 128, loss = 0.19932987
Iteration 129, loss = 0.19892002
Iteration 130, loss = 0.19856968
Iteration 131, loss = 0.19821130
Iteration 132, loss = 0.19784874
Iteration 133, loss = 0.19755397
Iteration 134, loss = 0.19720278
Iteration 135, loss = 0.19688583
Iteration 136, loss = 0.19662886
Iteration 137, loss = 0.19634118
Iteration 138, loss = 0.19607119
Iteration 139, loss = 0.19578557
Iteration 140, loss = 0.19554990
Iteration 141, loss = 0.19528022
Iteration 142, loss = 0.19501306
Iteration 143, loss = 0.19476784
Iteration 144, loss = 0.19453613
Iteration 145, loss = 0.19429066
Iteration 146, loss = 0.19404301
Iteration 147, loss = 0.19382028
Iteration 148, loss = 0.19361716
Iteration 149, loss = 0.19340025
Iteration 150, loss = 0.19321465
Iteration 151, loss = 0.19298813
Iteration 152, loss = 0.19280021
Iteration 153, loss = 0.19257297
Iteration 154, loss = 0.19240884
Iteration 155, loss = 0.19224338
Iteration 156, loss = 0.19202939
Iteration 157, loss = 0.19189179
Iteration 158, loss = 0.19168935
Iteration 159, loss = 0.19153786
Iteration 160, loss = 0.19135192
Iteration 161, loss = 0.19121186
Iteration 162, loss = 0.19104249
Iteration 163, loss = 0.19090742
Iteration 164, loss = 0.19078626
Iteration 165, loss = 0.19064729
Iteration 166, loss = 0.19053445
Iteration 167, loss = 0.19042343
Iteration 168, loss = 0.19031191
Iteration 169, loss = 0.19020063
Iteration 170, loss = 0.19010244
Iteration 171, loss = 0.19001714
Iteration 172, loss = 0.18991126
Iteration 173, loss = 0.18980709
Iteration 174, loss = 0.18972442
Iteration 175, loss = 0.18963234
Iteration 176, loss = 0.18952675
Iteration 177, loss = 0.18943039
Iteration 178, loss = 0.18931718
Iteration 179, loss = 0.18924147
Iteration 180, loss = 0.18915536
Iteration 181, loss = 0.18908196
Iteration 182, loss = 0.18901366
Iteration 183, loss = 0.18895131
Iteration 184, loss = 0.18884801
Iteration 185, loss = 0.18877946
Iteration 186, loss = 0.18870447
Iteration 187, loss = 0.18862401
Iteration 188, loss = 0.18854954
Iteration 189, loss = 0.18848778
Iteration 190, loss = 0.18843403
Iteration 191, loss = 0.18834229
Iteration 192, loss = 0.18830491
Iteration 193, loss = 0.18823427
Iteration 194, loss = 0.18818757
Iteration 195, loss = 0.18813549
Training loss did not improve more than tol=0.000100 for 10 consecutive epochs. Stopping.

MLPClassifier(hidden_layer_sizes=(3, 2), learning_rate_init=0.01,
              random_state=5, verbose=True)

In [39]:
y_pred4 = clf4.predict(X_test4)

In [40]:
# Creating the confusion matrix
cm4 = metrics.confusion_matrix(y_test4, y_pred4)
# Assigning columns names
cm_df4 = pd.DataFrame(cm4, 
            columns = ['Predicted Negative', 'Predicted Positive'],
            index = ['Actual Negative', 'Actual Positive'])
# Showing the confusion matrix
cm_df4

                 Predicted Negative  Predicted Positive
Actual Negative                 271                   0
Actual Positive                  11                   0

In [41]:
sensitivity4,precision4,negativePredValues4,specificity4,accuracy4 = metric(cm4)
sensitivityList.append(sensitivity4)
precisionList.append(precision4)
negativePredValuesList.append(negativePredValues4)
specificityList.append(specificity4)
accuracyList.append(accuracy4)
print(f'Sensitivity: {sensitivity4}')
print(f'Precision = {precision4}')
print(f'Negative Pred Value = {negativePredValues4}')
print(f'Specificity = {specificity4}')
print(f'Accuracy = {accuracy4}')

True Positives: 0
True Negatives: 271
False Positives: 0
False Negatives: 11
Sensitivity: 0.0
Precision = nan
Negative Pred Value = 0.9609929078014184
Specificity = 1.0
Accuracy = 0.9609929078014184

## Model without any data cleansing - data 02

In [44]:
dataIris1 = pd.read_csv("./dataset/iris.csv",header=None)
display(dataIris1)

       0    1    2    3               4
0    5.1  3.5  1.4  0.2     Iris-setosa
1    4.9  3.0  1.4  0.2     Iris-setosa
2    4.7  3.2  1.3  0.2     Iris-setosa
3    4.6  3.1  1.5  0.2     Iris-setosa
4    5.0  3.6  1.4  0.2     Iris-setosa
..   ...  ...  ...  ...             ...
145  6.7  3.0  5.2  2.3  Iris-virginica
146  6.3  2.5  5.0  1.9  Iris-virginica
147  6.5  3.0  5.2  2.0  Iris-virginica
148  6.2  3.4  5.4  2.3  Iris-virginica
149  5.9  3.0  5.1  1.8  Iris-virginica

[150 rows x 5 columns]

In [45]:
Xiris1 = dataIris1.iloc[:,1:-1]
yiris1 = dataIris1.iloc[:,-1]
display(Xiris1)
display(yiris1)

X_trainIris1, X_testIris1, y_trainIris1, y_testIris1 = train_test_split(Xiris1, yiris1, test_size=0.3, random_state=42)

       1    2    3
0    3.5  1.4  0.2
1    3.0  1.4  0.2
2    3.2  1.3  0.2
3    3.1  1.5  0.2
4    3.6  1.4  0.2
..   ...  ...  ...
145  3.0  5.2  2.3
146  2.5  5.0  1.9
147  3.0  5.2  2.0
148  3.4  5.4  2.3
149  3.0  5.1  1.8

[150 rows x 3 columns]

0         Iris-setosa
1         Iris-setosa
2         Iris-setosa
3         Iris-setosa
4         Iris-setosa
            ...
145    Iris-virginica
146    Iris-virginica
147    Iris-virginica
148    Iris-virginica
149    Iris-virginica
Name: 4, Length: 150, dtype: object

In [46]:
clfIris1 = MLPClassifier(hidden_layer_sizes=(3,2),
                    random_state=5,
                    verbose=True,
                    learning_rate_init=0.01)
clfIris1.fit(X_trainIris1,y_trainIris1)

Iteration 1, loss = 1.05044168
Iteration 2, loss = 1.03149909
Iteration 3, loss = 1.01210506
Iteration 4, loss = 0.99228537
Iteration 5, loss = 0.97207322
Iteration 6, loss = 0.95151007
Iteration 7, loss = 0.93064627
Iteration 8, loss = 0.90954155
Iteration 9, loss = 0.88834003
Iteration 10, loss = 0.86710415
Iteration 11, loss = 0.84607377
Iteration 12, loss = 0.82534217
Iteration 13, loss = 0.80513986
Iteration 14, loss = 0.78593566
Iteration 15, loss = 0.76800851
Iteration 16, loss = 0.75140423
Iteration 17, loss = 0.73598212
Iteration 18, loss = 0.72157025
Iteration 19, loss = 0.70828845
Iteration 20, loss = 0.69612489
Iteration 21, loss = 0.68497390
Iteration 22, loss = 0.67489929
Iteration 23, loss = 0.66568388
Iteration 24, loss = 0.65731828
Iteration 25, loss = 0.64968849
Iteration 26, loss = 0.64274211
Iteration 27, loss = 0.63644572
Iteration 28, loss = 0.63074600
Iteration 29, loss = 0.62560164
Iteration 30, loss = 0.62092928
Iteration 31, loss = 0.61672277
Iteration 32, loss = 0.61288447
Iteration 33, loss = 0.60936317
Iteration 34, loss = 0.60612012
Iteration 35, loss = 0.60309400
Iteration 36, loss = 0.60027118
Iteration 37, loss = 0.59764237
Iteration 38, loss = 0.59517940
Iteration 39, loss = 0.59284025
Iteration 40, loss = 0.59060456
Iteration 41, loss = 0.58845936
Iteration 42, loss = 0.58639480
Iteration 43, loss = 0.58439767
Iteration 44, loss = 0.58246022
Iteration 45, loss = 0.58057777
Iteration 46, loss = 0.57874666
Iteration 47, loss = 0.57697926
Iteration 48, loss = 0.57525759
Iteration 49, loss = 0.57357967
Iteration 50, loss = 0.57194398
Iteration 51, loss = 0.57034936
Iteration 52, loss = 0.56880914
Iteration 53, loss = 0.56733375
Iteration 54, loss = 0.56590424
Iteration 55, loss = 0.56450782
Iteration 56, loss = 0.56314915
Iteration 57, loss = 0.56181809
Iteration 58, loss = 0.56052580
Iteration 59, loss = 0.55926576
Iteration 60, loss = 0.55803440
Iteration 61, loss = 0.55683027
Iteration 62, loss = 0.55565193
Iteration 63, loss = 0.55448693
Iteration 64, loss = 0.55333357
Iteration 65, loss = 0.55219390
Iteration 66, loss = 0.55106953
Iteration 67, loss = 0.54996023
Iteration 68, loss = 0.54886538
Iteration 69, loss = 0.54778442
Iteration 70, loss = 0.54671277
Iteration 71, loss = 0.54564678
Iteration 72, loss = 0.54458356
Iteration 73, loss = 0.54352031
Iteration 74, loss = 0.54246073
Iteration 75, loss = 0.54140679
Iteration 76, loss = 0.54035716
Iteration 77, loss = 0.53932137
Iteration 78, loss = 0.53827776
Iteration 79, loss = 0.53713731
Iteration 80, loss = 0.53576178
Iteration 81, loss = 0.53322118
Iteration 82, loss = 0.52936302
Iteration 83, loss = 0.52687055
Iteration 84, loss = 0.52590914
Iteration 85, loss = 0.52358255
Iteration 86, loss = 0.52020126
Iteration 87, loss = 0.51695961
Iteration 88, loss = 0.51469237
Iteration 89, loss = 0.51189629
Iteration 90, loss = 0.50793310
Iteration 91, loss = 0.50302836
Iteration 92, loss = 0.49729840
Iteration 93, loss = 0.48981450
Iteration 94, loss = 0.48022896
Iteration 95, loss = 0.47137535
Iteration 96, loss = 0.46512390
Iteration 97, loss = 0.45811289
Iteration 98, loss = 0.45040798
Iteration 99, loss = 0.44291390
Iteration 100, loss = 0.43502290
Iteration 101, loss = 0.42679432
Iteration 102, loss = 0.41853520
Iteration 103, loss = 0.41021766
Iteration 104, loss = 0.40180617
Iteration 105, loss = 0.39344640
Iteration 106, loss = 0.38499900
Iteration 107, loss = 0.37654317
Iteration 108, loss = 0.36800498
Iteration 109, loss = 0.35938725
Iteration 110, loss = 0.35085945
Iteration 111, loss = 0.34263711
Iteration 112, loss = 0.33423797
Iteration 113, loss = 0.32631114
Iteration 114, loss = 0.31804383
Iteration 115, loss = 0.31048712
Iteration 116, loss = 0.30236224
Iteration 117, loss = 0.29522007
Iteration 118, loss = 0.28789365
Iteration 119, loss = 0.28065706
Iteration 120, loss = 0.27443109
Iteration 121, loss = 0.26734930
Iteration 122, loss = 0.26113038
Iteration 123, loss = 0.25464474
Iteration 124, loss = 0.24869898
Iteration 125, loss = 0.24320620
Iteration 126, loss = 0.23760110
Iteration 127, loss = 0.23251875
Iteration 128, loss = 0.22751004
Iteration 129, loss = 0.22244436
Iteration 130, loss = 0.21763246
Iteration 131, loss = 0.21310638
Iteration 132, loss = 0.20855708
Iteration 133, loss = 0.20441316
Iteration 134, loss = 0.20054197
Iteration 135, loss = 0.19639563
Iteration 136, loss = 0.19294832
Iteration 137, loss = 0.18923910
Iteration 138, loss = 0.18575925
Iteration 139, loss = 0.18258536
Iteration 140, loss = 0.17932165
Iteration 141, loss = 0.17636457
Iteration 142, loss = 0.17348560
Iteration 143, loss = 0.17060753
Iteration 144, loss = 0.16793999
Iteration 145, loss = 0.16532789
Iteration 146, loss = 0.16286777
Iteration 147, loss = 0.16052304
Iteration 148, loss = 0.15817055
Iteration 149, loss = 0.15605133
Iteration 150, loss = 0.15388735
Iteration 151, loss = 0.15173253
Iteration 152, loss = 0.14984987
Iteration 153, loss = 0.14790474
Iteration 154, loss = 0.14600502
Iteration 155, loss = 0.14427871
Iteration 156, loss = 0.14253670
Iteration 157, loss = 0.14085757
Iteration 158, loss = 0.13934055
Iteration 159, loss = 0.13782888
Iteration 160, loss = 0.13626329
Iteration 161, loss = 0.13469535
Iteration 162, loss = 0.13342045
Iteration 163, loss = 0.13209464
Iteration 164, loss = 0.13068815
Iteration 165, loss = 0.12936375
Iteration 166, loss = 0.12816857
Iteration 167, loss = 0.12698074
Iteration 168, loss = 0.12571860
Iteration 169, loss = 0.12457575
Iteration 170, loss = 0.12346748
Iteration 171, loss = 0.12240704
Iteration 172, loss = 0.12136549
Iteration 173, loss = 0.12034848
Iteration 174, loss = 0.11931566
Iteration 175, loss = 0.11834146
Iteration 176, loss = 0.11739052
Iteration 177, loss = 0.11647326
Iteration 178, loss = 0.11564759
Iteration 179, loss = 0.11475766
Iteration 180, loss = 0.11385193
Iteration 181, loss = 0.11300122
Iteration 182, loss = 0.11216875
Iteration 183, loss = 0.11142098
Iteration 184, loss = 0.11057177
Iteration 185, loss = 0.10985195
Iteration 186, loss = 0.10910691
Iteration 187, loss = 0.10837209
Iteration 188, loss = 0.10763440
Iteration 189, loss = 0.10690393
Iteration 190, loss = 0.10625461
Iteration 191, loss = 0.10554497
Iteration 192, loss = 0.10492136
Iteration 193, loss = 0.10430601
Iteration 194, loss = 0.10370025
Iteration 195, loss = 0.10308504
Iteration 196, loss = 0.10249341
Iteration 197, loss = 0.10188467
Iteration 198, loss = 0.10130785
Iteration 199, loss = 0.10071955
Iteration 200, loss = 0.10016099

MLPClassifier(hidden_layer_sizes=(3, 2), learning_rate_init=0.01,
              random_state=5, verbose=True)

In [47]:
y_predIris1 = clfIris1.predict(X_testIris1)

In [48]:
lastCol = dataIris1.shape[1]-1
uniqueOutputs = dataIris1[lastCol].unique().tolist()
# Creating the confusion matrix
cmIris1 = metrics.confusion_matrix(y_testIris1, y_predIris1)
# Assigning columns names
cm_dfIris1 = pd.DataFrame(cmIris1, 
            columns = uniqueOutputs,
            index = uniqueOutputs)
# Showing the confusion matrix
cm_dfIris1

                 Iris-setosa  Iris-versicolor  Iris-virginica
Iris-setosa               19                0               0
Iris-versicolor            0               12               1
Iris-virginica             0                0              13

In [51]:
def metric(cm):
    TP = cm[0][0]
    FN = (cm[0,1:]).sum()
    FP = (cm[1:,0]).sum()
    TN = (cm[1:,1:]).flatten().sum()
    sensitivity = ((TP / (TP+FN)))
    precision = ((TP/(TP+FP)))
    negativePredValues = (TN/(TN+FN))
    specificity = (TN / (TN+FP))
    accuracy = ((TP+TN)/(TP+TN+FP+FN))
    print('True Positives:', TP)
    print('True Negatives:', TN)
    print('False Positives:', FP)
    print('False Negatives:', FN)
    return sensitivity,precision,negativePredValues,specificity,accuracy

In [52]:
sensitivityiris1,precisioniris1,negativePredValuesiris1,specificityiris1,accuracyiris1 = metric(cmIris1)
sensitivityList.append(sensitivityiris1)
precisionList.append(precisioniris1)
negativePredValuesList.append(negativePredValuesiris1)
specificityList.append(specificityiris1)
accuracyList.append(accuracyiris1)
print(f'Sensitivity: {sensitivityiris1}')
print(f'Precision = {precisioniris1}')
print(f'Negative Pred Value = {negativePredValuesiris1}')
print(f'Specificity = {specificityiris1}')
print(f'Accuracy = {accuracyiris1}')

True Positives: 19
True Negatives: 26
False Positives: 0
False Negatives: 0
Sensitivity: 1.0
Precision = 1.0
Negative Pred Value = 1.0
Specificity = 1.0
Accuracy = 1.0

## Model with duplicated filter - data 02

In [53]:
dataIris2 = pd.read_csv("./dataset/iris.csv",header=None)
display(dataIris2)

       0    1    2    3               4
0    5.1  3.5  1.4  0.2     Iris-setosa
1    4.9  3.0  1.4  0.2     Iris-setosa
2    4.7  3.2  1.3  0.2     Iris-setosa
3    4.6  3.1  1.5  0.2     Iris-setosa
4    5.0  3.6  1.4  0.2     Iris-setosa
..   ...  ...  ...  ...             ...
145  6.7  3.0  5.2  2.3  Iris-virginica
146  6.3  2.5  5.0  1.9  Iris-virginica
147  6.5  3.0  5.2  2.0  Iris-virginica
148  6.2  3.4  5.4  2.3  Iris-virginica
149  5.9  3.0  5.1  1.8  Iris-virginica

[150 rows x 5 columns]

### Delete duplicated data

In [54]:
dataIris2.drop_duplicates(inplace=True)
display(dataIris2)

       0    1    2    3               4
0    5.1  3.5  1.4  0.2     Iris-setosa
1    4.9  3.0  1.4  0.2     Iris-setosa
2    4.7  3.2  1.3  0.2     Iris-setosa
3    4.6  3.1  1.5  0.2     Iris-setosa
4    5.0  3.6  1.4  0.2     Iris-setosa
..   ...  ...  ...  ...             ...
145  6.7  3.0  5.2  2.3  Iris-virginica
146  6.3  2.5  5.0  1.9  Iris-virginica
147  6.5  3.0  5.2  2.0  Iris-virginica
148  6.2  3.4  5.4  2.3  Iris-virginica
149  5.9  3.0  5.1  1.8  Iris-virginica

[147 rows x 5 columns]

In [55]:
Xiris2 = dataIris2.iloc[:,1:-1]
yiris2 = dataIris2.iloc[:,-1]
display(Xiris2)
display(yiris2)

X_trainIris2, X_testIris2, y_trainIris2, y_testIris2 = train_test_split(Xiris2, yiris2, test_size=0.3, random_state=42)

       1    2    3
0    3.5  1.4  0.2
1    3.0  1.4  0.2
2    3.2  1.3  0.2
3    3.1  1.5  0.2
4    3.6  1.4  0.2
..   ...  ...  ...
145  3.0  5.2  2.3
146  2.5  5.0  1.9
147  3.0  5.2  2.0
148  3.4  5.4  2.3
149  3.0  5.1  1.8

[147 rows x 3 columns]

0         Iris-setosa
1         Iris-setosa
2         Iris-setosa
3         Iris-setosa
4         Iris-setosa
            ...
145    Iris-virginica
146    Iris-virginica
147    Iris-virginica
148    Iris-virginica
149    Iris-virginica
Name: 4, Length: 147, dtype: object

In [56]:
clfIris2 = MLPClassifier(hidden_layer_sizes=(3,2),
                    random_state=5,
                    verbose=True,
                    learning_rate_init=0.01)
clfIris2.fit(X_trainIris2,y_trainIris2)

Iteration 1, loss = 1.05182856
Iteration 2, loss = 1.03214129
Iteration 3, loss = 1.01202892
Iteration 4, loss = 0.99152237
Iteration 5, loss = 0.97065999
Iteration 6, loss = 0.94949710
Iteration 7, loss = 0.92812769
Iteration 8, loss = 0.90656930
Iteration 9, loss = 0.88500567
Iteration 10, loss = 0.86348583
Iteration 11, loss = 0.84218355
Iteration 12, loss = 0.82127152
Iteration 13, loss = 0.80102594
Iteration 14, loss = 0.78161614
Iteration 15, loss = 0.76330316
Iteration 16, loss = 0.74614197
Iteration 17, loss = 0.73000244
Iteration 18, loss = 0.71502243
Iteration 19, loss = 0.70127563
Iteration 20, loss = 0.68865051
Iteration 21, loss = 0.67716057
Iteration 22, loss = 0.66665739
Iteration 23, loss = 0.65706813
Iteration 24, loss = 0.64822359
Iteration 25, loss = 0.64013673
Iteration 26, loss = 0.63279323
Iteration 27, loss = 0.62608522
Iteration 28, loss = 0.62000107
Iteration 29, loss = 0.61447985
Iteration 30, loss = 0.60948765
Iteration 31, loss = 0.60498191
Iteration 32, loss = 0.60092037
Iteration 33, loss = 0.59726186
Iteration 34, loss = 0.59393717
Iteration 35, loss = 0.59089521
Iteration 36, loss = 0.58808665
Iteration 37, loss = 0.58547334
Iteration 38, loss = 0.58303733
Iteration 39, loss = 0.58077388
Iteration 40, loss = 0.57863319
Iteration 41, loss = 0.57659366
Iteration 42, loss = 0.57464009
Iteration 43, loss = 0.57275890
Iteration 44, loss = 0.57094372
Iteration 45, loss = 0.56920462
Iteration 46, loss = 0.56751857
Iteration 47, loss = 0.56587965
Iteration 48, loss = 0.56428392
Iteration 49, loss = 0.56274506
Iteration 50, loss = 0.56131722
Iteration 51, loss = 0.55993952
Iteration 52, loss = 0.55858860
Iteration 53, loss = 0.55726463
Iteration 54, loss = 0.55596867
Iteration 55, loss = 0.55469887
Iteration 56, loss = 0.55345569
Iteration 57, loss = 0.55223785
Iteration 58, loss = 0.55104117
Iteration 59, loss = 0.54986055
Iteration 60, loss = 0.54869859
Iteration 61, loss = 0.54755261
Iteration 62, loss = 0.54642262
Iteration 63, loss = 0.54530834
Iteration 64, loss = 0.54421004
Iteration 65, loss = 0.54312604
Iteration 66, loss = 0.54205597
Iteration 67, loss = 0.54100093
Iteration 68, loss = 0.53996826
Iteration 69, loss = 0.53895214
Iteration 70, loss = 0.53794734
Iteration 71, loss = 0.53694961
Iteration 72, loss = 0.53595592
Iteration 73, loss = 0.53496416
Iteration 74, loss = 0.53397475
Iteration 75, loss = 0.53298760
Iteration 76, loss = 0.53200338
Iteration 77, loss = 0.53103422
Iteration 78, loss = 0.53008024
Iteration 79, loss = 0.52896857
Iteration 80, loss = 0.52722378
Iteration 81, loss = 0.52431630
Iteration 82, loss = 0.52058110
Iteration 83, loss = 0.51943543
Iteration 84, loss = 0.51833979
Iteration 85, loss = 0.51564040
Iteration 86, loss = 0.51181842
Iteration 87, loss = 0.50837601
Iteration 88, loss = 0.50623207
Iteration 89, loss = 0.50356881
Iteration 90, loss = 0.49973460
Iteration 91, loss = 0.49518270
Iteration 92, loss = 0.49104186
Iteration 93, loss = 0.48693088
Iteration 94, loss = 0.48030616
Iteration 95, loss = 0.47082039
Iteration 96, loss = 0.45931275
Iteration 97, loss = 0.44767120
Iteration 98, loss = 0.43789894
Iteration 99, loss = 0.43108176
Iteration 100, loss = 0.42409413
Iteration 101, loss = 0.41528059
Iteration 102, loss = 0.40536134
Iteration 103, loss = 0.39683626
Iteration 104, loss = 0.38865754
Iteration 105, loss = 0.37932108
Iteration 106, loss = 0.37030809
Iteration 107, loss = 0.36259058
Iteration 108, loss = 0.35444970
Iteration 109, loss = 0.34554606
Iteration 110, loss = 0.33718579
Iteration 111, loss = 0.32926562
Iteration 112, loss = 0.32132930
Iteration 113, loss = 0.31312404
Iteration 114, loss = 0.30532020
Iteration 115, loss = 0.29800113
Iteration 116, loss = 0.29058924
Iteration 117, loss = 0.28276323
Iteration 118, loss = 0.27509386
Iteration 119, loss = 0.26845284
Iteration 120, loss = 0.26142554
Iteration 121, loss = 0.25403212
Iteration 122, loss = 0.24812778
Iteration 123, loss = 0.24148830
Iteration 124, loss = 0.23567272
Iteration 125, loss = 0.23056318
Iteration 126, loss = 0.22440195
Iteration 127, loss = 0.21913564
Iteration 128, loss = 0.21468731
Iteration 129, loss = 0.20944521
Iteration 130, loss = 0.20465046
Iteration 131, loss = 0.20030900
Iteration 132, loss = 0.19604763
Iteration 133, loss = 0.19149713
Iteration 134, loss = 0.18723191
Iteration 135, loss = 0.18346681
Iteration 136, loss = 0.17973950
Iteration 137, loss = 0.17594656
Iteration 138, loss = 0.17281538
Iteration 139, loss = 0.16946780
Iteration 140, loss = 0.16619030
Iteration 141, loss = 0.16322827
Iteration 142, loss = 0.16015832
Iteration 143, loss = 0.15732931
Iteration 144, loss = 0.15456205
Iteration 145, loss = 0.15189028
Iteration 146, loss = 0.14931468
Iteration 147, loss = 0.14683924
Iteration 148, loss = 0.14443942
Iteration 149, loss = 0.14216274
Iteration 150, loss = 0.13990227
Iteration 151, loss = 0.13774548
Iteration 152, loss = 0.13565730
Iteration 153, loss = 0.13367464
Iteration 154, loss = 0.13169824
Iteration 155, loss = 0.12977083
Iteration 156, loss = 0.12793068
Iteration 157, loss = 0.12619155
Iteration 158, loss = 0.12446700
Iteration 159, loss = 0.12278322
Iteration 160, loss = 0.12115315
Iteration 161, loss = 0.11953391
Iteration 162, loss = 0.11807057
Iteration 163, loss = 0.11661477
Iteration 164, loss = 0.11514320
Iteration 165, loss = 0.11373070
Iteration 166, loss = 0.11241213
Iteration 167, loss = 0.11109751
Iteration 168, loss = 0.10980955
Iteration 169, loss = 0.10858838
Iteration 170, loss = 0.10736435
Iteration 171, loss = 0.10622975
Iteration 172, loss = 0.10508513
Iteration 173, loss = 0.10398958
Iteration 174, loss = 0.10292624
Iteration 175, loss = 0.10189652
Iteration 176, loss = 0.10084901
Iteration 177, loss = 0.09984566
Iteration 178, loss = 0.09889458
Iteration 179, loss = 0.09795416
Iteration 180, loss = 0.09704216
Iteration 181, loss = 0.09615332
Iteration 182, loss = 0.09529309
Iteration 183, loss = 0.09444735
Iteration 184, loss = 0.09361703
Iteration 185, loss = 0.09280207
Iteration 186, loss = 0.09200802
Iteration 187, loss = 0.09125393
Iteration 188, loss = 0.09051406
Iteration 189, loss = 0.08976980
Iteration 190, loss = 0.08904790
Iteration 191, loss = 0.08835343
Iteration 192, loss = 0.08767534
Iteration 193, loss = 0.08703059
Iteration 194, loss = 0.08638427
Iteration 195, loss = 0.08569713
Iteration 196, loss = 0.08509061
Iteration 197, loss = 0.08449253
Iteration 198, loss = 0.08386735
Iteration 199, loss = 0.08332060
Iteration 200, loss = 0.08272866

MLPClassifier(hidden_layer_sizes=(3, 2), learning_rate_init=0.01,
              random_state=5, verbose=True)

In [57]:
y_predIris2 = clfIris2.predict(X_testIris2)

In [58]:
lastCol2 = dataIris1.shape[1]-1
uniqueOutputs2 = dataIris1[lastCol2].unique().tolist()
# Creating the confusion matrix
cmIris2 = metrics.confusion_matrix(y_testIris2, y_predIris2)
# Assigning columns names
cm_dfIris2 = pd.DataFrame(cmIris2, 
            columns = uniqueOutputs2,
            index = uniqueOutputs2)
# Showing the confusion matrix
cm_dfIris2

                 Iris-setosa  Iris-versicolor  Iris-virginica
Iris-setosa               17                0               0
Iris-versicolor            0               10               2
Iris-virginica             0                0              16

In [59]:
sensitivityiris2,precisioniris2,negativePredValuesiris2,specificityiris2,accuracyiris2 = metric(cmIris2)
sensitivityList.append(sensitivityiris2)
precisionList.append(precisioniris2)
negativePredValuesList.append(negativePredValuesiris2)
specificityList.append(specificityiris2)
accuracyList.append(accuracyiris2)
print(f'Sensitivity: {sensitivityiris2}')
print(f'Precision = {precisioniris2}')
print(f'Negative Pred Value = {negativePredValuesiris2}')
print(f'Specificity = {specificityiris2}')
print(f'Accuracy = {accuracyiris2}')

True Positives: 17
True Negatives: 28
False Positives: 0
False Negatives: 0
Sensitivity: 1.0
Precision = 1.0
Negative Pred Value = 1.0
Specificity = 1.0
Accuracy = 1.0

## MLP Table

In [60]:
precisionList = ['-' if str(x)=='nan' else x for x in precisionList]
precisionList

['-', '-', '-', '-', 1.0, 1.0, 1.0]

In [61]:
MLPTable = pt()
MLPTable.title = 'Eksperimen Model MLP'
MLPTable.field_names = ["Eksperimen", "Sensitivity", "Precision", "negative Pred Values",'Specifity', 'Accuracy']
eksperimen = ["Model tanpa pembersihan data - Oil Spill","Model dengan penghapusan single value - Oil Spill","Model dengan penghapusan few values - Oil Spill","Model dengan penghapusan low variance - Oil Spill","Model tanpa pembersihan data - Iris","Model dengan penghapusan data terduplikasi - Iris"]
n = len(eksperimen)
print('Eksperimen Model MLP')
for i in range(n):
    MLPTable.add_row([eksperimen[i],sensitivityList[i],precisionList[i],negativePredValuesList[i],specificityList[i],accuracyList[i]])
print(MLPTable)

Eksperimen Model MLP
+-------------------------------------------------------------------------------------------------------------------------------------+
|                                                         Eksperimen Model MLP                                                        |
+---------------------------------------------------+-------------+-----------+----------------------+-----------+--------------------+
|                     Eksperimen                    | Sensitivity | Precision | negative Pred Values | Specifity |      Accuracy      |
+---------------------------------------------------+-------------+-----------+----------------------+-----------+--------------------+
|      Model tanpa pembersihan data - Oil Spill     |     0.0     |     -     |  0.9572953736654805  |    1.0    | 0.9572953736654805 |
| Model dengan penghapusan single value - Oil Spill |     0.0     |     -     |  0.9609929078014184  |    1.0    | 0.9609929078014184 |
|  Model dengan penghapusan few values - Oil Spill  |     0.0     |     -     |  0.9609929078014184  |    1.0    | 0.9609929078014184 |
| Model dengan penghapusan low variance - Oil Spill |     0.0     |     -     |  0.9609929078014184  |    1.0    | 0.9609929078014184 |
|        Model tanpa pembersihan data - Iris        |     1.0     |    1.0    |         1.0          |    1.0    |        1.0         |
| Model dengan penghapusan data terduplikasi - Iris |     1.0     |    1.0    |         1.0          |    1.0    |        1.0         |
+---------------------------------------------------+-------------+-----------+----------------------+-----------+--------------------+

# Model Logistic Regression

In [62]:
sensitivityListLR = []
precisionListLR = []
negativePredValuesListLR = []
specificityListLR = []
accuracyListLR = []

## Logistic Regression Table

In [106]:
logRegTable = pt()
logRegTable.title = 'Eksperimen Model logReg'
logRegTable.field_names = ["Eksperimen", "Sensitivity", "Precision", "negative Pred Values",'Specifity', 'Accuracy']
eksperimen = ["Model tanpa pembersihan data - Oil Spill","Model dengan penghapusan single value - Oil Spill","Model dengan penghapusan few values - Oil Spill","Model dengan penghapusan low variance - Oil Spill","Model tanpa pembersihan data - Iris","Model dengan penghapusan data terduplikasi - Iris"]
n = len(eksperimen)
print('Eksperimen Model Logistic Regression')
for i in range(n): 
    logRegTable.add_row([eksperimen[i],sensitivityListLR[i],precisionListLR[i],negativePredValuesListLR[i],specificityListLR[i],accuracyListLR[i]])
print(logRegTable)

Eksperimen Model Logistic Regression
+--------------------------------------------------------------------------------------------------------------------------------------------------------------+
|                                                                   Eksperimen Model logReg                                                                    |
+---------------------------------------------------+-------------------+--------------------+----------------------+---------------------+--------------------+
|                     Eksperimen                    |    Sensitivity    |     Precision      | negative Pred Values |      Specifity      |      Accuracy      |
+---------------------------------------------------+-------------------+--------------------+----------------------+---------------------+--------------------+
|      Model tanpa pembersihan data - Oil Spill     | 0.977859778597786 | 0.9636363636363636 | 0.14285714285714285  | 0.09090909090909091 | 0.9432624113475178 |
| Model dengan penghapusan single value - Oil Spill | 0.977859778597786 | 0.9636363636363636 | 0.14285714285714285  | 0.09090909090909091 | 0.9432624113475178 |
|  Model dengan penghapusan few values - Oil Spill  | 0.988929889298893 | 0.9675090252707581 |         0.4          | 0.18181818181818182 | 0.9574468085106383 |
| Model dengan penghapusan low variance - Oil Spill | 0.977859778597786 | 0.9636363636363636 | 0.14285714285714285  | 0.09090909090909091 | 0.9432624113475178 |
|        Model tanpa pembersihan data - Iris        |        1.0        |        1.0         |         1.0          |         1.0         |        1.0         |
| Model dengan penghapusan data terduplikasi - Iris |        1.0        |        1.0         |         1.0          |         1.0         |        1.0         |
+---------------------------------------------------+-------------------+--------------------+----------------------+---------------------+--------------------+